<tr>
	<td colspan="6"><h3 style="color:blue; margin:10px 0; " >{label:history_title}</h3></td>
</tr>
<tr>
	<td height="50">诊治医生</td>
	<td ><label>
			{label:history_doctor_name}

	</label></td>
	<td>
		科室
	</td>
	<td ><label>{label:history_office_name}

	</label></td>
	<td height="50">诊治时间</td>
	<td ><label>
			{label:history_diacrisis_time}

	</label></td>
</tr>

<tr>
	<td height="50">病症</td>
	<td colspan="5"><label>
			{label:history_illness}

	</label></td>
</tr>
<tr>
	<td height="50">处方</td>
	<td colspan="5"><label>
			{label:history_prescribe}
	</label></td>
</tr>
